<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.spring.beans.Address" id="add_id"> 
    <property name="houseNo" value="111" /> 
    <property name="city" value="delhi" /> 
    <property name="pincode" value="201310" /> 
    </bean>
    
     <bean class="com.spring.beans.Student" id="std1"> 
    <property name="name" value="aakanshi" /> 
    <property name="rollNo" value="1" /> 
    <property name="address" ref="add_id" /> 
    </bean>


</beans>